<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
</head>
<body>
    <center>
        <h1>Edit Order Here </h1>
            <form class= '' action='/order/edit/<%=order.id%>' method = 'post'>
                <input type ='text' placeholder='name' name='name' value = <%=order.name%>>
                <input type ='text' placeholder='age' name='age' value =<%=order.age%>> 
                <input type ='text' placeholder='gender' name='gender' value = <%=order.gender%>> 
                <input type ='text' placeholder='phone' name='phonoe'  value =<%=order.phonoe%>>
                <input type ='text' placeholder='email' name ='email' value=<%=order.email%>> 
                <input type ='text' placeholder='addres' name ='addres' value=<%=order.addres%>>   
                <input type ='text' placeholder='Medical Result' name ='medcheckresult' value=<%=order.medcheckresult%>>     
                </br> 
                </br>             
                <button> Submit Edit Order </button>      
             </form> 
    </center>
</body>
</html>
