<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
</head>
<body>
    <center>
        <h1>Edit Food Menu </h1>
            <form class= '' action='/listmenu/edit/<%=menu.id%>' method = 'post'>
                <input type ='text' placeholder='name' name='name' value = <%=menu.name%>>
                <input type ='text' placeholder='cholesterol' name='cholesterol' value =<%=menu.cholesterol%>> 
                <input type ='text' placeholder='blood_sugar' name='blood_sugar' value = <%=menu.blood_sugar%>> 
                <input type ='text' placeholder='blood_pressure' name='blood_pressure'  value =<%=menu.blood_pressure%>>    
                </br> 
                </br>             
                <button> Submit Edit Menu </button>      
             </form> 
    </center>
</body>
</html>
