<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
</head>
<body>
    <center>
        <h1>Edit Food Menu </h1>
            <form class= '' action='/listmenu/edit/<%=menu.id%>' method = 'post'>
                <input type ='text' placeholder='name' name='name' value = <%=menu.name%>>
                <input type ='text' placeholder='fat' name='fat' value =<%=menu.fat%>> 
                <input type ='text' placeholder='protein' name='protein' value = <%=menu.protein%>> 
                <input type ='text' placeholder='carbohidrate' name='carbohidrate'  value =<%=menu.carbohidrate%>>
                <input type ='text' placeholder='calories' name ='calories' value=<%=menu.calories%>> 
                <input type ='text' placeholder='amount per' name ='fiber' value=<%=menu.fiber%>>      
                </br> 
                </br>             
                <button> Submit Edit Menu </button>      
             </form> 
    </center>
</body>
</html>
