<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medicals </title>
</head>
<body>
    <h1>Medical Records List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cholesterol</th>
                <th>Blood Sugar</th>
                <th>Blood Pressure</th>
                <th>Edit Data</th>
            </tr>
        </thead>
        <tbody>
            <%datamed.forEach(datamed=>{ %>
            <tr>
                <td><%=datamed.id%></td>
                <td><%=datamed.cholesterol%></td>
                <td><%=datamed.blood_sugar%></td>
                <td><%=datamed.blood_pressure%></td>
                <td><%=datamed.orderId%></td>
                <td><a href ="/medicals/edit/<%=datamed.id%>">Edit</a></td>
                <td><a href ="/medicals/delete/<%=datamed.id%>">Delete</a></td>
                <td><a href ="/medicals/<%=datamed.id%>/menuUser">Menu</a></td>
            <%})%>
            </tr>
        </tbody>
    </table>
    </br>
    <h3>Add New Medical Report</h3>
    <form class ="" action= "/medicals/add" method = "post">
        Cholesterol    :
        <input type="radio" name="cholesterol" value="good"> good <input type="radio" name="cholesterol" value="bad"> bad <br>
        Blood Sugar    :
        <input type="radio" name="blood_sugar" value="good"> good <input type="radio" name="blood_sugar" value="bad"> bad <br>
        Blood Pressure :
        <input type="radio" name="blood_pressure" value="good"> good <input type="radio" name="blood_pressure" value="bad"> bad <br>
        <br>
        <button>Submit</button>
    </form>
    
</body>
</html>
