<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Menu </title>
</head>
<body>
    <center>
        <h1>Order Data</h1>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Edit Order</th>
            </tr>
            </thead>
            <tbody>
                <%order.forEach(data =>{%>
                <tr>
                    <td> <%=data.id%> </td>
                    <td> <%=data.name%> </td>
                    <td> <%=data.age%> </td>
                    <td> <%=data.gender%> </td>
                    <td> <%=data.phone%> </td>
                    <td> <%=data.email%> </td>
                    <td> <%=data.addres%> </td>
                    <td ><a href ='/medicals/<%=data.id%>'>Medical Data </a> </td>
                    <td><a href = '/order/edit/<%=data.id%>'> Edit </a> || <a href = '/order/delete/<%=data.id%>'>Delete </a> <td>
                </tr>
                <%})%>
            </tbody>
        </table>
        </br>
        <h1>Add New Order Here</h1>
        <form class= '' action='/order' method = 'post'>
            Name: <input type ='text' placeholder='name' name='name' required></br>
            Age: <input type ='text' placeholder='age' name='age' required> </br>
            Gender: <input type ='text' placeholder='gender' name='gender' required> </br>
            Phone: <input type ='text' placeholder='phone' name='phone' required></br>
            Email: <input type ='text' placeholder='email' name='email' required></br>
            Address: <input type ='text' placeholder='addres' name='addres' required></br>
            <button> Submit Order </button>      
        </form>
    </center>
</body>
</html>